/* Filtro */
.filter-list {
  width: 250px; 
  max-height: 450px;
  position: fixed; 
  right: 150px;
  bottom: 20px; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  z-index: 10; 
  height: calc(100vh - 40px); 
  overflow-y: auto;
}


/* Contenedor de las categorías */
.category-list {
  width: 100%;
  max-width: 350px; 
  padding: 10px;
  border-radius: 8px;
  border-color: grey;
  border-style: solid;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  
}

/* Título del filtro */
.category-list h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #333;
}

/* Lista de categorías */
.category-list ul {
  list-style-type: none;
  padding: 0;
}

/* Elemento de cada categoría */
.category-item {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  color: #444;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Efecto hover para los elementos de la lista */
.category-item:hover {
  background: linear-gradient(to right, #0056b3, #003f7f); /* Degradado de azul oscuro a azul más intenso */
  color: #fff; 
  transition: background 0.3s ease, color 0.3s ease; 
}

/* Estilo para el elemento seleccionado */
.category-item.selected {
  background: linear-gradient(to left, #007bff, #0056b3); 
  color: #fff;
  transition: background 0.3s ease, color 0.3s ease;
}

/* Efecto hover en el elemento seleccionado */
.category-item.selected:hover {
  background: linear-gradient(to right, #0056b3, #003f7f); 
  color: #fff;
  transition: background 0.3s ease, color 0.3s ease;
}



.loading-message {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2rem;
  color: #666;
}