/* products.css */

/* Body */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap;
}

/* Productos Container */
.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas */
  gap: 20px; /* Espacio entre los productos */
  padding: 20px;
  box-sizing: border-box;
  width: calc(100% - 300px); 
  margin-right: 20px; 
  flex-grow: 1; 
  margin-top: 10px;
}

/* Estilo de cada Producto */
.product {
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border-width: 2px;
  border-color: grey;
  border-style: solid;
  min-height: 350px;
  max-height: 400px;
  min-width: 250px;
  max-width: 300px; 
}

/* Media Queries para pantallas más pequeñas */

/* Pantallas de 724px o menos */
@media (max-width: 724px) {
  /* Para el body: los productos se ajustan en una sola columna */
  body {
    flex-direction: column;
    align-items: stretch; /* Asegura que el contenido ocupe el ancho completo */
  }

  /* Para la .products-container: solo una columna */
  .products-container {
    width: 100%; /* Ocupa todo el ancho */
    grid-template-columns: 1fr; /* Solo una columna */
    margin-right: 0;
    width: 200px;
  }

  /* Ajustes a los productos */
  .product {
    min-width: 270px; /* Disminuir el ancho mínimo */
    max-width: 100%; /* Los productos ocupan todo el ancho */
    min-height: 300px; /* Reducir la altura */
  }

  /* Títulos de productos */
  h3 {
    font-size: 1rem; /* Aumentar el tamaño del título para mejor legibilidad */
    line-clamp: 3;
  }

  /* Descripción de productos */
  p {
    font-size: 0.9rem; /* Ajustar el tamaño de la descripción */
  }

  /* Categoría de producto */
  h4 {
    font-size: 0.9rem; /* Ajustar el tamaño de la categoría */
  }

  /* Botones de acción */
  button {
    font-size: 0.9rem; /* Reducir el tamaño de los botones */
    padding: 8px 12px; /* Ajustar el padding */
  }

  .filter-list {
    width: 250px; /* Ancho fijo para el filtro */
    max-height: 450px;
    position: fixed; /* Fija el filtro en la pantalla */
    right: 150px;
    bottom: -130px; /* Fija el filtro al lado derecho */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    z-index: 10; /* Asegura que el filtro esté por encima de otros elementos */
    height: calc(100vh - 40px); /* Asegura que el filtro tenga la altura de la ventana */
    overflow-y: auto;
    max-width: 200px; /* Disminuir el ancho mínimo */
  }
}

/* Para pantallas de 1024px o más (como laptops o pantallas grandes) */
@media (min-width: 1024px) {
  /* Aumentamos el número de columnas en pantallas grandes */
  .products-container {
    grid-template-columns: repeat(4, 1fr); /* Cuatro columnas */
  }

  .product {
    max-width: 350px; /* Hacer los productos más grandes en pantallas grandes */
  }

  .filter-list {
    width: 250px;
    max-height: 450px;
    position: fixed; 
    right: 50px;
    bottom: -40px; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    z-index: 10; 
    height: calc(100vh - 40px); 
    overflow-y: auto;
    max-width: 200px; 
  }
}
